*::before,
*::after {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
@font-face {
  font-family: ff1;
  src: url("fonts/ff1.otf");
}

body {
  background-color: rgba(35, 31, 31, 0.975);
  font-family: ff1;
}
h1 {
  font-size: 2rem;
  text-align: center;
}
h1:hover {
  color: rgb(193, 91, 36);
}
